@charset "UTF-8";

@font-face {
    font-family: 'Midorima';
    src: url('../fonts/Midorima-PersonalUse-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    font-family: 'Lucida Sans Unicode', sans-serif;

}

#main {
    background: url(../img/background.jpg);
    padding-bottom: 15px;
}

#upper-div {
    width: 100%;
    padding: 10px 0 25px 0;
    background-color: #4D2562;
    color: whitesmoke;
    text-align: center;
}
#upper-div h1 {
    font-family: 'Midorima', sans-serif;
    font-size: 3em;
    letter-spacing: 0.2em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
#upper-div > h1 > span {
    font-size: 1.2em;
    letter-spacing: 0.25em;
}
#upper-div p {
    font-family: 'Midorima', sans-serif;
    letter-spacing: 0.1em;
    margin-bottom: 15px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
#flex-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#flex-div .sumo-kanji {
    display: none;
    max-width: 180px;
    margin: auto;
}
#flex-div figure {
    width: 94%;
    max-width: 1000px;
    background: url(../img/JSA-dif.jpg) ;
    border-radius: 3px;
}
#flex-div #image {
    width: 85%;
    max-width: 800px;
    margin: 15px;
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.603);
}
#flex-div figcaption {
    position: relative;
    top: -23px;
    width: 85%;
    max-width: 800px;
    margin: auto;
    background-color: #3C053C;
    font-size: 0.85em;
}

#tribute-info {
    width: 80%;
    max-width: 1200px;
    height: 100%;
    margin: 10px auto;
    padding: 15px;
    background-color: #FFFEFF;
}
#tribute-info .img-left {
    float: inline-start;
    background: url(../img/asashoryu.jpg) no-repeat local center top;
    background-size: cover;
    width: 100px;
    height: 100px;
    margin-right: 5px;
    border-radius: 50%;
}
#tribute-info .img-right {
    float: inline-end;
    background: url(../img/sad-asashoryu.jpg) no-repeat local center center;
    background-size: cover;
    width: 100px;
    height: 100px;
    margin-left: 5px;
    border-radius: 50%;
}
#tribute-info .img-left2 {
    float: inline-start;
    background: url(../img/asashoryu-yes-remake.jpg) no-repeat local center top;
    background-size: cover;
    width: 100px;
    height: 100px;
    margin-right: 5px;
    border-radius: 50%;
}
#tribute-info .pt1, .pt2, .pt3, .end {
    margin: 0 10px;
}
#tribute-info .pt1 {
    margin-top: 15px;
    margin-bottom: 25px;
}
#tribute-info .pt2 {
    margin-bottom: 25px;
}
#tribute-info .pt3 {
    margin-bottom: 25px;
}
#tribute-info .pt4 {
    text-align: center;
    margin-bottom: 25px;
}
#tribute-info p {
    display: inline;
}
#tribute-info h2 {
    text-shadow: 1px 1px 2px rgba(66, 66, 66, 0.322);
}
#tribute-info iframe {
    width: 100%;
    max-width: 1000px;
    height: 180px;
}
#tribute-info a {
    text-decoration: none;
    color: #4D2562;
}
#tribute-info a:hover {
    color: #E5D8C6;
}